@model Booking_Project.Models.Amenities_Hotel

@{
    ViewData["Title"] = "getOnly";

    //SelectList hotels = new SelectList(ViewBag.Hotels, "Id", "Name");
    //SelectList amenities = new SelectList(ViewBag.Amenities, "Id", "Name");
}

<h1>getOnly</h1>

<h4>Amenities_Hotel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" value="@Model.Price"/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <select id="HotelId" name="HotelId" >
                <option value="@ViewBag.hotels.Id" selected>@ViewBag.hotels.Name</option>
            </select>
            <select id="AmentiesId" name="AmentiesId">
                <option value="@ViewBag.amenities.Id" selected>@ViewBag.amenities.Name</option>
            </select>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

